
body {
    background-image: linear-gradient(-45deg, black 70%, #2c0a90);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #221133;
    color: white;
    padding: 20px;
    text-align: left;
}

.logo {
    max-height: 80px;
    margin-bottom: 5px;
}

nav {
    background: #221140;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

nav a {
    color: #f16234;
    padding: 02px 25px;
    text-decoration: none;
}

nav a:hover {
    background-color: #1e3799;
}

main {
    padding: 30px;
    text-align: left;
    color: gray;
}

main section {
    margin-bottom: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0px 0;
}

.check {
    color: #f16234;
    font-weight: bold;
    margin-right: 5px;
}

footer {
    background-color: #0a3d62;
    color: white;
    text-align: center;
    padding: 10px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.galeria img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .logo {
        max-width: 100%;
        height: auto;
    }

    .galeria img {
        width: 90%;
    }
}
